<div class="card medium">
  <div class="card-image waves-effect waves-block waves-light">
    <app-shimmer class="img loading"></app-shimmer>
  </div>
  <div class="card-content">
    <app-shimmer class="lg loading"></app-shimmer>
    <app-shimmer class="md loading"></app-shimmer>
    <div class="row">
      <div class="col s4">
        <app-shimmer class="lg loading"></app-shimmer>
      </div>
      <div class="col s4">
          <app-shimmer class="lg loading"></app-shimmer>
      </div>
      <div class="col s4">
          <app-shimmer class="lg loading"></app-shimmer>
      </div>
    </div>
  </div>
</div>
