<div class="app-root">
  <header>
    <nav role="navigation">
      <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">Real estatium</a>
          <ul class="right">
            <li><a href="#"><i class="material-icons">phone</i></a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
              <li><a href="#"><img width="240" src="https://memegenerator.net/img/instances/500x/65276035/not-sure-if-its-a-bug-or-a-feature.jpg"></a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </header>
  <main class="grey lighten-5">
    <app-home id="home-page"></app-home>
  </main>
  <footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Real estatium info</h5>
                <p class="grey-text text-lighten-4">Some lorem ipsum dolor sit amet to add dummy content</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://github.com/yannbf/frontend-code-challenge">Yann Braga</a>
        </div>
    </div>
  </footer>
</div>
