<div class="app-root">
  <header>
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Real estatium</a>
          <ul class="right hide-on-med-and-down">
              <li><a href="#">Some page link</a></li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
              <li><a href="#">Some page link</a></li>
              <li><a href="#">Some page link</a></li>
              <li><a href="#">Some page link</a></li>
              <li><a href="#">Some page link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </header>
  <main class="blue-grey lighten-5">
    <app-home id="home-page"></app-home>
  </main>
  <footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Real estatium info</h5>
                <p class="grey-text text-lighten-4">Some lorem ipsum dolor sit amet to add dummy content</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by Yann Braga using <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
  </footer>
</div>
