<div class="home-page">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center red-text">Real Estatium</h1>
            <div class="row center">
                <h5 class="header col s12 light">The future of real estate is here.</h5>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <app-advertisement-list
                [advertisements]="advertisements$ | async"
                [isLoading]="isLoading$ | async"
                [error]="error$ | async">
            </app-advertisement-list>
        </div>
    </div>
</div>
